/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*------------------------
VARIABLES
--------------------------*/
/*------------------------
MIXINGS
--------------------------*/
/*------------------------
CSS BASE
--------------------------*/
html {
  height: 100%;
}

body {
  background-color: #e4e4e4;
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  transition: all 0.2s linear;
}

p {
  text-align: left;
  color: #6f6f6f;
}

img {
  width: 100%;
}

.section {
  font-size: 12px;
}
@media (min-width: 768px) {
  .section {
    font-size: 14px;
  }
}
.section .page_container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 94%;
}
@media (min-width: 768px) {
  .section .page_container {
    width: 80%;
  }
}

.footer-info {
  position: absolute;
  bottom: 0;
  margin-top: 0px;
  left: 0;
  right: 0;
  margin: auto;
}
.footer-info img {
  max-width: 38px;
  height: auto;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-content {
  display: none;
}

.accordion-content.default {
  display: block;
}

.advice {
  font-weight: 900;
  font-size: 18px;
  padding: 10px;
  text-align: right;
}

span.plus {
  float: right;
  color: #767676;
  font-size: 20px;
  font-family: arial;
  line-height: 16px;
}

#contacto iframe {
  margin-top: 80px;
}

/*------------------------
 MENU
--------------------------*/
#header {
  margin: auto;
  max-width: 960px;
  text-align: left;
  width: 90%;
}
#header.intro .brand svg {
  fill: #fff;
}
#header.intro .brand polyline {
  stroke: #fff;
}
#header.intro .rmm-toggled-title {
  color: #fff;
}
#header.intro .rmm-button span {
  background: #fff;
}
#header.intro .navigation li {
  color: #fff;
  border-color: #fff;
}
#header.intro .navigation li a {
  color: #fff;
  opacity: 0.7;
}
#header.intro .navigation li a:hover {
  opacity: 1;
}
#header.intro .navigation li svg {
  fill: #fff;
}
#header .mobile-nav {
  margin-top: 15px;
}
@media (min-width: 820px) {
  #header .mobile-nav {
    display: none;
  }
}
#header .rmm.minimal .rmm-toggled ul {
  background-color: #333333;
  margin-top: 16px !important;
}
#header .brand {
  float: left;
  position: absolute;
}
@media (min-width: 820px) {
  #header .brand {
    top: 24px;
  }
}
#header .brand svg {
  transition: all 0.2s linear;
  width: 98px;
  height: 46px;
}

.navigation {
  float: right;
  top: 26px;
  padding-top: 30px;
  display: none;
}
@media (min-width: 820px) {
  .navigation {
    display: block;
  }
}
.navigation li {
  display: inline-block;
  padding: 6px;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 14px;
  transition: all 0.2s linear;
  color: #767676;
}
.navigation li a {
  color: #767676;
}
.navigation li a:hover {
  color: #000;
}
.navigation li.active {
  background: url("../images/active-pattern.png") repeat-x scroll 0 bottom transparent;
  padding-bottom: 10px;
}
.navigation li.active a {
  color: #000;
}
.navigation li.active a {
  color: #000;
}
.navigation li.share {
  color: #000;
}
.navigation li.facebook {
  padding: 0;
}
.navigation li.facebook:hover {
  background: #3b5998;
}
.navigation li.facebook a {
  opacity: 1 !important;
  padding: 6px;
  display: block;
}
.navigation li.twitter {
  padding: 0;
}
.navigation li.twitter:hover {
  background: #00aced;
}
.navigation li.twitter a {
  opacity: 1 !important;
  padding: 6px;
  display: block;
}
.navigation svg {
  width: 16px;
  height: 16px;
  fill: #000;
  transition: all 0.2s linear;
  transition-duration: 0.5s;
}
.navigation .social {
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 3px;
  transition: all 0.2s linear;
}
.navigation .social:hover svg {
  fill: #fff;
}

/*------------------------
SECCION 1 HOME
--------------------------*/
#page1 .page_container {
  width: 100%;
}
#page1 .bat {
  text-align: left;
  padding-left: 40px;
  display: none;
}
@media (min-width: 820px) {
  #page1 .bat {
    display: block;
  }
}
#page1 .bat img {
  max-width: 82px;
}
#page1 .papel-picado {
  margin-top: 40px;
}
#page1 .papel-picado img {
  width: 300px;
  height: auto;
}
@media (min-width: 480px) {
  #page1 .papel-picado img {
    width: 370px;
  }
}
@media (min-width: 768px) {
  #page1 .papel-picado img {
    width: 405px;
  }
}
#page1 .flama {
  width: 7px;
  height: 28px;
  background: url("../images/flama-sprite.png") no-repeat scroll 0 0 transparent;
  position: absolute;
  -webkit-animation: 1s steps(16, end) 0s normal none infinite flama;
  animation: 1s steps(16, end) 0s normal none infinite flama;
  margin: 44px 0 0 65px;
}
@media (min-width: 480px) {
  #page1 .flama {
    margin-top: 81px;
    margin-left: 100px;
  }
}
@media (min-width: 768px) {
  #page1 .flama {
    margin-top: 127px;
    margin-left: 144px;
  }
}
#page1 .calaverita {
  max-width: 685px;
  margin: -50px auto 0;
  width: 320px;
}
@media (min-width: 480px) {
  #page1 .calaverita {
    width: 480px;
    margin-top: -110px;
  }
}
@media (min-width: 768px) {
  #page1 .calaverita {
    width: 685px;
  }
}
#page1 .calaverita img {
  height: auto;
}
#page1 .date {
  color: #fff;
  background: url("../images/line-pattern-gray.png") no-repeat scroll center bottom transparent;
  padding-bottom: 14px;
  position: absolute;
  width: 100%;
  font-size: 16px;
  bottom: 50px;
}

@-webkit-keyframes flama {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: -112px center;
  }
}
@-moz-keyframes flama {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: -112px center;
  }
}
/*------------------------
SECCION 1 HOME
--------------------------*/
/*------------------------
SECCION 2
--------------------------*/
#page2 {
  margin-top: -25px;
  transition: margin-top 1s linear;
  background: url("../images/back-p2.png") repeat-x scroll 0 0 #e4e4e4;
}
#page2 .section-back {
  margin-top: 64px;
}
#page2 .img-right img {
  display: none;
  max-width: 120px;
}
@media (min-width: 768px) {
  #page2 .img-right img {
    display: block;
  }
}
@media (min-width: 820px) {
  #page2 .img-right {
    width: 32.40741%;
    float: left;
    margin-left: 0.46296%;
    margin-right: 0.46296%;
    display: table-cell;
  }
  #page2 .img-right img {
    max-width: 298px;
  }
}
#page2 .info_container {
  text-align: left;
}
@media (min-width: 820px) {
  #page2 .info_container {
    width: 65.74074%;
    float: left;
    margin-left: 0.46296%;
    margin-right: 0.46296%;
    display: table-cell;
    vertical-align: middle;
  }
}
#page2 .info_container .vineta {
  background: url("../images/vinetas-t.png") no-repeat scroll 0 0 transparent;
  padding-left: 24px;
  padding-bottom: 8px;
}
#page2 .info_container .vineta.two {
  background-position: 0 -27px;
}
#page2 .info_container .vineta.three {
  background-position: 0 -53px;
}
#page2 .info_container #accordion {
  /*background-image: url("../images/squeres-patern.png"), url("../images/squeres-patern.png") ;
  background-repeat: repeat-x;
  background-position: 0 bottom, 0 top;*/
}
@media (min-width: 820px) {
  #page2 .info_container #accordion {
    padding: 30px;
  }
}
#page2 .info_container .accordion-content {
  margin: 0;
}
#page2 .info_container .price {
  font-weight: 900;
  padding-left: 6px;
  padding: 12px 12px 12px 6px;
  margin: 8px 0 0;
  border: 2px dotted #bdb9b6;
  background-color: #dfdcda;
  font-size: 14px;
}
@media (min-width: 768px) {
  #page2 .info_container .price {
    font-size: 16px;
  }
}
#page2 .info_container p {
  padding: 10px;
  color: #646464;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  #page2 .info_container p {
    font-size: 14px;
    line-height: 18px;
  }
}
#page2 .info_container p b {
  font-weight: bold;
}
#page2 .info_container .advice {
  float: right;
  background: url("../images/squeres-patern.png") repeat-x 0 bottom transparent;
}
#page2 .footer-info .place {
  font-weight: 900;
  background: url("../images/line-pattern-gray.png") no-repeat scroll center bottom transparent;
  padding-bottom: 14px;
}
@media (min-width: 480px) {
  #page2 .footer-info .place {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  #page2 .footer-info .place {
    font-size: 14px;
  }
}
#page2 .footer-info .direction {
  font-weight: 700;
  padding: 4px 10px;
}
@media (min-width: 480px) {
  #page2 .footer-info .direction {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  #page2 .footer-info .direction {
    font-size: 14px;
  }
}

.section.active#page2 {
  margin-top: -0%;
}

/*------------------------
SECCION 1 HOME
--------------------------*/
/*------------------------
SECCION 3
--------------------------*/
.viewing-page-3 .navigation .sponsors {
  background: url("../images/active-pattern.png") repeat-x scroll 0 bottom transparent;
  padding-bottom: 10px;
}
.viewing-page-3 .navigation .sponsors a {
  color: #000;
}

#page3 .page_container {
  padding-top: 100px;
}
@media (min-width: 768px) {
  #page3 .page_container {
    padding-top: 0;
  }
}
@media (min-width: 480px) {
  #page3 .page_container .package {
    margin-bottom: 20px;
    width: 49.07407%;
    float: left;
    margin-left: 0.46296%;
    margin-right: 0.46296%;
  }
}
@media (min-width: 820px) {
  #page3 .page_container .package {
    background: url("../images/shadow.png") no-repeat scroll center bottom transparent;
    padding-bottom: 34px;
    width: 24.07407%;
    float: left;
    margin-left: 0.46296%;
    margin-right: 0.46296%;
    display: inline-block;
    float: none;
    margin: 0 0 50px 0;
  }
}
#page3 .page_container .package img {
  max-width: 150px;
}
#page3 .page_container .message {
  clear: both;
  font-weight: bold;
  border: 2px dotted #bdb9b6;
  padding: 10px;
  background-color: #dfdcda;
}
#page3 .page_container .message a {
  color: #8811d4;
}

/* CSS ya existentes */
.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  color: #000;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
