/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------
VARIABLES
--------------------------*/
/*------------------------
MIXINGS
--------------------------*/
/*------------------------
CSS BASE
--------------------------*/
html {
  height: 100%;
}

body {
  background-color: #e4e4e4;
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.5s linear;
}

p {
  text-align: left;
  line-height: 1.3em;
  color: #6f6f6f;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

img {
  width: 100%;
}

section {
  background-color: #e4e4e4;
}
section .page_container {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  top: 80px;
  width: 80%;
  z-index: 3;
}
@media (min-width: 820px) {
  section .page_container {
    top: 120px;
  }
}

/*------------------------
 MENU
--------------------------*/
#header {
  margin: auto;
  max-width: 1280px;
  text-align: left;
  width: 90%;
}
#header.intro .brand svg {
  fill: #fff;
}
#header.intro .brand polyline {
  stroke: #fff;
}
#header.intro .rmm-toggled-title {
  color: #fff;
}
#header.intro .rmm-button span {
  background: #fff;
}
#header.intro .navigation li {
  color: #fff;
  border-color: #fff;
}
#header.intro .navigation li a {
  color: #fff;
}
#header.intro .navigation li svg {
  fill: #fff;
}
#header .mobile-nav {
  margin-top: 15px;
}
@media (min-width: 820px) {
  #header .mobile-nav {
    display: none;
  }
}
#header .rmm.minimal .rmm-toggled ul {
  background-color: #333333;
  margin-top: 16px !important;
}
#header .brand {
  float: left;
  position: absolute;
}
@media (min-width: 820px) {
  #header .brand {
    top: 24px;
  }
}
#header .brand svg {
  transition: all 0.5s linear;
  width: 98px;
  height: 46px;
}

.navigation {
  float: right;
  top: 26px;
  padding-top: 30px;
  display: none;
}
@media (min-width: 820px) {
  .navigation {
    display: block;
  }
}
.navigation li {
  display: inline-block;
  padding: 6px;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 1.143em;
  transition: all 0.5s linear;
  color: #767676;
}
.navigation li a {
  color: #767676;
}
.navigation li.active {
  background: url("../images/active-pattern.png") repeat-x scroll 0 bottom transparent;
  padding-bottom: 10px;
}
.navigation li.active a {
  color: #000;
}
.navigation li.active a {
  color: #000;
}
.navigation li.share {
  color: #000;
}
.navigation svg {
  width: 16px;
  height: 16px;
  fill: #000;
  transition: all 0.5s linear;
}
.navigation .social {
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 3px;
  transition: all 0.5s linear;
}

/*------------------------
SECCION 1
--------------------------*/
.section .bat {
  text-align: left;
  padding-left: 40px;
  display: none;
}
@media (min-width: 820px) {
  .section .bat {
    display: block;
  }
}
.section .bat img {
  max-width: 82px;
}
.section .papel-picado {
  margin-top: 40px;
}
.section .papel-picado img {
  width: 70%;
  max-width: 405px;
}
.section .calaverita {
  margin-top: -50px;
}
@media (min-width: 820px) {
  .section .calaverita {
    margin-top: -110px;
  }
}
.section .calaverita img {
  max-width: 685px;
  width: 90%;
}
.section .date {
  color: #fff;
  background: url("../images/line-pattern-gray.png") no-repeat scroll center bottom transparent;
  padding-bottom: 14px;
  position: absolute;
  width: 100%;
  font-size: 16px;
  bottom: 50px;
}

/*------------------------
SECCION 2
--------------------------*/
#page2 {
  margin-top: -25px;
  transition: margin-top 1s linear;
  background: url("../images/back-p2.png") repeat-x scroll 0 0 #e4e4e4;
}
#page2 .section-back {
  margin-top: 64px;
}
@media (min-width: 820px) {
  #page2 .page_container {
    top: 230px;
  }
}
#page2 .img-right img {
  max-width: 200px;
}
@media (max-width: 480px) {
  #page2 .img-right img {
    max-width: 120px;
  }
}
@media (min-width: 820px) {
  #page2 .img-right {
    width: 32.40741%;
    float: left;
    margin-left: 0.46296%;
    margin-right: 0.46296%;
    display: table-cell;
  }
  #page2 .img-right img {
    max-width: 298px;
  }
}
#page2 .info_container {
  text-align: left;
}
@media (min-width: 820px) {
  #page2 .info_container {
    width: 65.74074%;
    float: left;
    margin-left: 0.46296%;
    margin-right: 0.46296%;
    display: table-cell;
    vertical-align: middle;
  }
}
#page2 .info_container .vineta {
  background: url("../images/vinetas.png") no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}
#page2 .info_container .vineta.two {
  background-position: 0 -28px;
}
#page2 .info_container .vineta.three {
  background-position: 0 -55px;
}
#page2 .info_container ul {
  padding: 20px 0 20px 30px;
  background-image: url("../images/squeres-patern.png"), url("../images/squeres-patern.png");
  background-repeat: repeat-x;
  background-position: 0 bottom, 0 top;
}
@media (min-width: 820px) {
  #page2 .info_container ul {
    padding: 60px 0 60px 30px;
  }
}
#page2 .info_container li {
  padding: 10px 0;
  font-size: 14px;
}
@media (min-width: 820px) {
  #page2 .info_container li {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  #page2 .info_container li {
    font-size: 12px;
  }
}
#page2 .info_container li .price {
  font-weight: 900;
  padding-left: 6px;
}
#page2 .footer-info {
  clear: both;
  width: 100%;
  color: #3d3d3d;
  margin-top: 20px;
}
@media (min-width: 820px) {
  #page2 .footer-info {
    position: absolute;
    bottom: 40px;
    margin-top: 0px;
  }
}
#page2 .footer-info img {
  max-width: 38px;
  height: auto;
}
#page2 .footer-info .place {
  font-weight: 900;
  background: url("../images/line-pattern-gray.png") no-repeat scroll center bottom transparent;
  padding-bottom: 14px;
  font-size: 14px;
}
@media (max-width: 480px) {
  #page2 .footer-info .place {
    font-size: 12px;
  }
}
#page2 .footer-info .direction {
  font-weight: 700;
  font-size: 14px;
  padding: 10px 20px;
}
@media (max-width: 480px) {
  #page2 .footer-info .direction {
    font-size: 12px;
  }
}

.section.active#page2 {
  margin-top: -0%;
}

/*------------------------
SECCION 3
--------------------------*/
.viewing-page-3 .navigation .sponsors {
  background: url("../images/active-pattern.png") repeat-x scroll 0 bottom transparent;
  padding-bottom: 10px;
}
.viewing-page-3 .navigation .sponsors a {
  color: #000;
}

#page3 .page_container {
  width: 80%;
  margin: auto;
}
@media (min-width: 820px) {
  #page3 .page_container {
    top: 230px;
  }
}
#page3 .title {
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 820px) {
  #page3 .title {
    text-align: left;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  #page3 .title {
    margin: 80px auto 8px;
  }
}
#page3 img.sponsor-title {
  max-width: 416px;
}
#page3 .img-right img {
  max-width: 314px;
}
@media (max-width: 480px) {
  #page3 .img-right img {
    display: none;
  }
}
@media (min-width: 820px) {
  #page3 .img-right {
    width: 32.40741%;
    float: left;
    margin-left: 0.46296%;
    margin-right: 0.46296%;
    display: table-cell;
  }
  #page3 .img-right img {
    max-width: 298px;
  }
}
#page3 .info_container {
  text-align: left;
}
@media (min-width: 820px) {
  #page3 .info_container {
    width: 65.74074%;
    float: left;
    margin-left: 0.46296%;
    margin-right: 0.46296%;
    display: table-cell;
    vertical-align: middle;
  }
}
#page3 .info_container .vineta {
  background: url("../images/vinetas.png") no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}
#page3 .info_container .vineta.two {
  background-position: 0 -28px;
}
#page3 .info_container .vineta.three {
  background-position: 0 -55px;
}
#page3 .info_container ul {
  padding: 20px 0 20px 30px;
  background-image: url("../images/squeres-patern.png"), url("../images/squeres-patern.png");
  background-repeat: repeat-x;
  background-position: 0 bottom, 0 top;
}
@media (min-width: 820px) {
  #page3 .info_container ul {
    padding: 30px 0 30px 30px;
  }
}
@media (max-width: 480px) {
  #page3 .info_container ul {
    padding-left: 0;
  }
}
#page3 .info_container li {
  padding: 10px 0;
}
@media (max-width: 480px) {
  #page3 .info_container li {
    font-size: 12px;
  }
}
#page3 .info_container li .price {
  font-weight: 900;
  padding-left: 6px;
}
#page3 .fp-controlArrow.fp-next {
  border-width: 38.5px 0 38.5px 12px;
}
#page3 .fp-controlArrow.fp-prev {
  border-width: 38.5px 12px 38.5px 0;
}

/* CSS ya existentes */
.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  color: #000;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
