/*------------------------
VARIABLES
--------------------------*/
$susy: (
  columns: 12,
  gutters: .125,
  gutter-position: split,
);

$body-font: 'Lato', sans-serif;
$body-bg-color: #e4e4e4;

$menu-font: 'Lato', sans-serif;
$menu-color: #000;
$menu-size: 14px;

$default-transition: all 0.2s linear;




